Type: System.Xml.Schema.ConstraintStruct

Method: System.Int32 get_TableDim()

Disassembly:
	mov eax,[rcx+38h]
	ret

ISIL:
	001 Move rax, [rcx+56]
	002 Return rax

Method: System.Void .ctor(System.Xml.Schema.CompiledIdentityConstraint constraint)

Disassembly:
	mov [rsp+10h],rsi
	push rdi
	sub rsp,20h
	cmp byte ptr [183751A16h],0
	mov rsi,rdx
	mov rdi,rcx
	jne short 0000000181CEEC74h
	lea rcx,[1834FFE88h]
	call 000000018037BB90h
	lea rcx,[183539298h]
	call 000000018037BB90h
	lea rcx,[18350BDE0h]
	call 000000018037BB90h
	mov byte ptr [183751A16h],1
	xor edx,edx
	mov [rsp+30h],rbx
	mov rcx,rdi
	call 0000000180456D90h
	lea rcx,[rdi+10h]
	mov [rdi+10h],rsi
	mov rdx,rsi
	call 000000018037ACB0h
	test rsi,rsi
	je near ptr 0000000181CEEDA6h
	mov rax,[rsi+28h]
	test rax,rax
	je near ptr 0000000181CEEDA6h
	mov eax,[rax+18h]
	mov [rdi+38h],eax
	mov rcx,[1834FFE88h]
	call 000000018037BDE0h
	xor edx,edx
	mov rcx,rax
	mov rbx,rax
	call 000000018179C230h
	lea rcx,[rdi+20h]
	mov [rdi+20h],rbx
	mov rdx,rbx
	call 000000018037ACB0h
	mov rcx,[18350BDE0h]
	mov rbx,[rsi+20h]
	call 000000018037BDE0h
	cmp byte ptr [183751A18h],0
	mov rsi,rax
	jne short 0000000181CEED07h
	lea rcx,[1834FFE88h]
	call 000000018037BB90h
	mov byte ptr [183751A18h],1
	xor r8d,r8d
	mov rdx,rbx
	mov rcx,rsi
	call 0000000181CE6F30h
	mov rcx,[1834FFE88h]
	call 000000018037BDE0h
	xor edx,edx
	mov rcx,rax
	mov rbx,rax
	call 000000018179C230h
	lea rcx,[rsi+30h]
	mov [rsi+30h],rbx
	mov rdx,rbx
	call 000000018037ACB0h
	lea rcx,[rsi+28h]
	mov [rsi+28h],rdi
	mov rdx,rdi
	call 000000018037ACB0h
	lea rcx,[rdi+18h]
	mov [rdi+18h],rsi
	mov rdx,rsi
	call 000000018037ACB0h
	mov rax,[rdi+10h]
	test rax,rax
	je short 0000000181CEEDA6h
	cmp dword ptr [rax+18h],2
	je short 0000000181CEED96h
	mov rcx,[183539298h]
	call 000000018037BDE0h
	xor edx,edx
	mov rcx,rax
	mov rbx,rax
	call 00000001817A4710h
	lea rcx,[rdi+28h]
	mov [rdi+28h],rbx
	mov rdx,rbx
	call 000000018037ACB0h
	mov rbx,[rsp+30h]
	mov rsi,[rsp+38h]
	add rsp,20h
	pop rdi
	ret
	call 000000018037BE30h

ISIL:
	001 Move stack:0x10, rsi
	002 ShiftStack -8
	003 Move stack:0x0, rdi
	004 ShiftStack -32
	005 Compare [0x183751A16], 0
	006 Move rsi, rdx
	007 Move rdi, rcx
	008 JumpIfNotEqual {16}
	009 LoadAddress rcx, [0x1834FFE88]
	010 Call "il2cpp_codegen_initialize_runtime_metadata", rcx, rdx, r8, r9
	011 LoadAddress rcx, [0x183539298]
	012 Call "il2cpp_codegen_initialize_runtime_metadata", rcx, rdx, r8, r9
	013 LoadAddress rcx, [0x18350BDE0]
	014 Call "il2cpp_codegen_initialize_runtime_metadata", rcx, rdx, r8, r9
	015 Move [0x183751A16], 1
	016 Move rdx, 0
	017 Move stack:0x30, rbx
	018 Move rcx, rdi
	019 Call 0x180456D90, rcx, rdx, r8, r9, stack:0x0
	020 LoadAddress rcx, [rdi+16]
	021 Move [rdi+16], rsi
	022 Move rdx, rsi
	023 Call 0x18037ACB0, rcx, rdx, r8, r9
	024 Compare rsi, 0
	025 JumpIfEqual {93}
	026 Move rax, [rsi+40]
	027 Compare rax, 0
	028 JumpIfEqual {93}
	029 Move rax, [rax+24]
	030 Move [rdi+56], rax
	031 Move rcx, typeof(System.Collections.ArrayList)
	032 Call "il2cpp_codegen_object_new", rcx, rdx, r8, r9
	033 Move rdx, 0
	034 Move rcx, rax
	035 Move rbx, rax
	036 Call ArrayList..ctor, rcx, rdx
	037 LoadAddress rcx, [rdi+32]
	038 Move [rdi+32], rbx
	039 Move rdx, rbx
	040 Call 0x18037ACB0, rcx, rdx, r8, r9
	041 Move rcx, typeof(System.Xml.Schema.SelectorActiveAxis)
	042 Move rbx, [rsi+32]
	043 Call "il2cpp_codegen_object_new", rcx, rdx, r8, r9
	044 Compare [0x183751A18], 0
	045 Move rsi, rax
	046 JumpIfNotEqual {50}
	047 LoadAddress rcx, [0x1834FFE88]
	048 Call "il2cpp_codegen_initialize_runtime_metadata", rcx, rdx, r8, r9
	049 Move [0x183751A18], 1
	050 Move r8, 0
	051 Move rdx, rbx
	052 Move rcx, rsi
	053 Call ActiveAxis..ctor, rcx, rdx
	054 Move rcx, typeof(System.Collections.ArrayList)
	055 Call "il2cpp_codegen_object_new", rcx, rdx, r8, r9
	056 Move rdx, 0
	057 Move rcx, rax
	058 Move rbx, rax
	059 Call ArrayList..ctor, rcx, rdx
	060 LoadAddress rcx, [rsi+48]
	061 Move [rsi+48], rbx
	062 Move rdx, rbx
	063 Call 0x18037ACB0, rcx, rdx, r8, r9
	064 LoadAddress rcx, [rsi+40]
	065 Move [rsi+40], rdi
	066 Move rdx, rdi
	067 Call 0x18037ACB0, rcx, rdx, r8, r9
	068 LoadAddress rcx, [rdi+24]
	069 Move [rdi+24], rsi
	070 Move rdx, rsi
	071 Call 0x18037ACB0, rcx, rdx, r8, r9
	072 Move rax, [rdi+16]
	073 Compare rax, 0
	074 JumpIfEqual {93}
	075 Compare [rax+24], 2
	076 JumpIfEqual {87}
	077 Move rcx, typeof(System.Collections.Hashtable)
	078 Call "il2cpp_codegen_object_new", rcx, rdx, r8, r9
	079 Move rdx, 0
	080 Move rcx, rax
	081 Move rbx, rax
	082 Call Hashtable..ctor, rcx, rdx
	083 LoadAddress rcx, [rdi+40]
	084 Move [rdi+40], rbx
	085 Move rdx, rbx
	086 Call 0x18037ACB0, rcx, rdx, r8, r9
	087 Move rbx, stack:0x30
	088 Move rsi, stack:0x38
	089 ShiftStack 32
	090 Move rdi, stack:0x0
	091 ShiftStack 8
	092 Return 
	093 Call 0x18037BE30, rcx, rdx, r8, r9

